﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MyMasterStyle.master" AutoEventWireup="true" CodeFile="AllNextShows.aspx.cs" Inherits="AllNextShows" %>

<%@ Register Src="~/UC/ucNextShow.ascx" TagPrefix="uc1" TagName="ucNextShow" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

    <script>
        $(document).ready(function () {
            $('#liHome liNewLogin').removeClass('active');

            $('#liAllNextShows').addClass('active'); liAllNextShows
        });
    </script>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:Table ID="TblNextShow" runat="server" style="margin: 0 auto;"></asp:Table>

</asp:Content>

