﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MyMasterStyle.master" AutoEventWireup="true" CodeFile="LastShows.aspx.cs" Inherits="LastShows" %>

<%@ Register Src="~/UC/ucLastShow.ascx" TagPrefix="uc1" TagName="ucLastShow" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
        <script>
        $(document).ready(function () {
            $('#liHome liNewLogin liAllNextShows').removeClass('active');

            $('#liLastShows').addClass('active'); liAllNextShows
            
        });
    </script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:Table ID="TblLastShow" runat="server" style="margin: 0 auto;"></asp:Table>

</asp:Content>

